

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
   <div class="row">
    <headernav></headernav>
  </div><!-- end row -->

    <div class="col-md-12">
    <div class="row">

    <div class="progress-metre row">
    <svg height="10" width="100%" style="background:#ccc;">
      <line x1="0" y1="0" x2="20%" y2="0" style="stroke:#e7e874;stroke-width:20" />
    </svg>

    <span class="centage-label">20%</span>
  </div><!-- end progress-metre -->
    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 Okay. Lets start with some information from you.
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
    </div>
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">

  <div class="col-md-6 col-md-offset-3">




    <div class="card-paper"><br/>
    <div class="card-component">
        <div class="card-content">
          <input id="flight_from" type="text" class="form-element" placeholder="Where are you flying from?">
		
		  <div id="user-selection" style="margin-top:10px;"></div>

        </div><!-- end card-content -->
    </div><!-- end card-component -->
	    <div class="card-component">
        <div class="card-content">
          <input id="flight_to" type="text" class="form-element" placeholder="Where are you flying to?">
		  	<div id="selected_to">
			<h3>Selected Item</h3>
			<p></p> 
			</div>
	  </div><!-- end card-content -->
    </div><!-- end card-component --><br/>

    </div><!-- end card-paper -->


    <div class="card-paper">
    <div class="card-content-1">
    <!--  <div class="switch-el">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
            <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
            <span class="mdl-radio__label switch-label">Economy class</span>
          </label>

          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
            <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
            <span class="mdl-radio__label switch-label">Business class</span>
          </label>

          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
            <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3">
            <span class="mdl-radio__label switch-label">First class</span>
          </label>
       </div>-->

       <div class="col-md-4">
       <div class="row">
           <div class="package-item-payment-option">
             <input type="radio" id="economy" class="payment-option" checked="checked"  name="package-payment-option" value="1800">
             <label for="economy" class="radio-input">
             <span>Economy</span>
             </label>
           </div><!-- end package-item-payment-option -->
          </div><!-- end row -->
           </div><!-- end col-md-3 -->

           <div class="col-md-4">
          <div class="row">
            <div class="package-item-payment-option">
             <input type="radio" id="business"  class="payment-option" name="package-payment-option" value="2800">
             <label for="business" class="radio-input">
               <span>Business</span>
             </label>
            </div><!-- end package-item-payment-option -->
          </div><!-- end row -->
           </div><!-- end col-md-3 -->


           <div class="col-md-4">
          <div class="row">
          <div class="package-item-payment-option">
           <input type="radio" id="firstc"  class="payment-option"  name="package-payment-option" value="3800">
           <label for="firstc" class="radio-input">
               <span>First Class</span>
           </label>
          </div><!-- end package-item-payment-option -->
          </div><!-- end row -->
           </div><!-- end col-md-3 -->


    </div><!-- end card-content-1 -->
    </div><!-- end card-paper -->

    
	<!--<a id="flight_pick_dates" href="#flights/flightpicklocations/flightpickdates">-->
	<div id="continue_to_flight_pick_dates" class="continue_to_flight_pick_dates">
		<div class="card-component button-div">
			<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">Awesome. Lets pick a travel date</button>
		</div><!-- end card-component -->
	</div>
  
  </div><!-- end col-md-8 -->


</div><!-- end container -->

</main>
 <footernav></footernav>