
<div class="dashboard-bar">
  <div class="container">
    <div class="col-md-3 col-xs-6">
      
      <div class="application-logo">
        <img src="img/bob-logo.png" class="img-responsive">
      </div><!-- logo -->

    </div><!-- end col-md-3 -->
    <div class="col-md-3 col-md-offset-3 hidden-xs">      
    </div><!-- end col-md-3 -->

    <div class="col-md-2 hidden-xs">
    </div><!-- end col-md-2 -->

    <div class="col-md-1 col-xs-6">
     <div class="row">
     </div><!-- end row -->
    </div><!-- end col-md-1 -->

  </div><!-- end container -->
</div><!-- end dashboard-bar -->

<main class="helper-content">


<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
    <headernav></headernav>
    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                LOGIN
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->

<div class="container">

  <div class="col-md-6 col-md-offset-3">    

    <div class="card-paper"><br/>
    <div class="login-temp">
    <div class="card-component">
        <div class="card-content">
          <input type="text" class="form-element" placeholder="Email or Username">
        </div><!-- end card-content -->
    </div><!-- end card-component --> 

    <div class="card-component">
        <div class="card-content">
          <input type="password" class="form-element" placeholder="Password">
        </div><!-- end card-content -->
    </div><!-- end card-component --><br/>

    </div><!-- end login-temp -->

    <div class="seperator"></div><!-- end seperator -->

      <div class="login-temp">
        <div class="card-content">
          <!-- Flat button with ripple -->
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            FORGOT PASSWORD
		<a href="#signup">
          </button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect pull-right">
            SIGN UP
          </button>
		  </a>


        </div>
      </div><!-- end login-temp -->

    </div><!-- end card-paper -->

    <div class="card-component button-div">
        <a href="hotel-pick-dates.html"><button style="width: 100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">Login</button></a>     
      </div>
    </div><!-- end card-component -->
  </div><!-- end col-md-8 -->

  
</div><!-- end container -->

</main>
<footernav></footernav>