

<main class="helper-content">

<div class="color-banner-top">  
  <div class="container">

  <div class="col-md-6 col-md-offset-3">

<headernav></headernav>

    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                Well done and thank you.
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->

  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">

  <div class="col-md-6 col-md-offset-3"> 

        <div class="card-paper"> 
          <div class="card-component">
            <div class="notice-wrap">
              Thank you for your request, we have sent an email to the provided email address<br/><br/>
<!--
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow"><i class="icon-plus"> ADD A FLIGHT</i></a>
           -->
		   </div><!-- end notice-wrap -->
          </div><!-- end card-component -->
        </div><!-- end card-paper -->        


  </div><!-- end col-md-6 -->

  
</div><!-- end container -->
</main>
<footernav></footernav>