<div class="dashboard-bar">
  <div class="container">

    <div class="col-md-3 col-xs-6">
      
      <div class="application-logo">
        <img src="img/bob-logo.png" class="img-responsive">
      </div><!-- logo -->

    </div><!-- end col-md-3 -->
    <div class="col-md-3 col-md-offset-3 hidden-xs">      
    </div><!-- end col-md-3 -->

    <div class="col-md-2 hidden-xs">
    </div><!-- end col-md-2 -->

    <div class="col-md-1 col-xs-6">
     <div class="row">
     </div><!-- end row -->
    </div><!-- end col-md-1 -->

  </div><!-- end container -->
</div><!-- end dashboard-bar -->

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-8 col-md-offset-2">

  <headernav></headernav>

    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 Bob will be pleased to assist you with your request.
              </div>
            </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">

  <div class="col-md-8 col-md-offset-2">

    <div class="card-paper"><br/>
    <div class="card-component">

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
        <label class="field-label">Destination</label>
          <input id="destination_d" type="text" class="form-element" placeholder="Which city are you going to?">
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <label class="field-label">Activity category</label>
          <select id="category_id" class="form-element" style="text-align: left;">
            <option>City Gateaway</option>
            <option>Signature Holidays</option>
            <option>Honeymoon</option>
            <option>Special Offers</option>
            <option>Sports Holiday</option>
            <option>Business class</option>
            <option>Rugby</option>
            <option>Formula 1</option>
          </select>
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->    

    </div><!-- end card-component --> 

    <div class="card-component">

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <label>Travel date</label>
          <input id="travel_date" type="text" class="form-element datepicker" placeholder="Pick a date">
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <label class="field-label">Additional Request</label>
          <textarea id="addtitional_request_id" class="form-element"></textarea>
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->    

    </div><!-- end card-component --><br/>

    </div><!-- end card-paper -->


    <div class="card-paper"><br/>
    <div class="card-component">

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <input id="clients_phone_number" type="text" class="form-element" placeholder="Phone Number">
          <span class="heads-up">Use International format e.g +1 890 890 8900</span>
        </div><!-- end card-content -->

        <div class="card-content">
           <input id="clients_email_address" type="text" class="form-element" placeholder="Email Address">
        </div><!-- end card-content -->


      </div><!-- end row -->
    </div><!-- end col-md-6 -->

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <textarea  id="clients_additional_info" class="form-element" placeholder="Provide additional information here"></textarea>
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->    

    </div><!-- end card-component --> <br/>


    </div><!-- end card-paper -->

    <div class="card-component button-div">
       <div class="submit_request"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">Submit your request</button></div>     
      </div>
    </div><!-- end card-component -->
  </div><!-- end col-md-8 -->

  
</div><!-- end container -->

</main>
<footernav></footernav>