<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
  <headernav></headernav>
      <div class="col-md-12">
    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                Hello, I am Bob, How can I help you today?
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">

  <div class="col-md-6 col-md-offset-3">


    <div class="col-md-12">
      <div class="row">
          <div class="col-md-4">
            <a href="#flights">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon x-icon-flight">
                <img src="images/flights.png">
              </div>
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">Fly me to ..</div>
            </div><!-- end bob-item -->
            </div>
            </a>
          </div>

          <div class="col-md-4">
            <a href="#picklocation">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon x-icon-hotel">
                <img src="images/hotels.png">
              </div>
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">Book me in ..</div>
            </div><!-- end bob-item -->
            </div><!-- end card-paper -->
            </a>
          </div>

          <div class="col-md-4">
            <a href="#surprise">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon x-icon-package">
                <img src="images/packages.png">
              </div>
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">Surprise me</div>
            </div><!-- end bob-item -->
            </div><!-- end card-paper -->
            </a>
          </div>
<!-- http://localhost/roundbobhelperv1/dist/#surprise/c746/5900186-->

          <div class="col-md-4">
          <!--  <a href="#specialoffer">-->
            <a href="#surprise/c746/5900186">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon x-icon-request">
                <img src="images/what_to_do_wher_to_go.png">
              </div>
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">What to do.<br/>Where to go</div>
            </div><!-- end bob-item -->
            </div><!-- end card-paper -->
            </a>
          </div>

          <div class="col-md-4">
            <!--<a href="#travel_wallet">-->
           <!-- <a href="#home/login">-->
            <a href="https://www.roundbob.com/wallet_cashiers/index/256701203975" target="_blank">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon x-icon-save">
                <img src="images/save_for_trip.png">
              </div>
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">Save <br/>for travel.<br/></div>
            </div><!-- end bob-item -->
            </div><!-- end card-paper -->
            </a>
          </div>

          <div class="col-md-4">
            <a href="#tripplanner">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon x-icon-trip">
                <img src="images/plan_trip.png">
              </div>
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">Plan <br/>a trip....</div>
            </div><!-- end bob-item -->
            </div><!-- end card-paper -->
            </a>
          </div>

      </div><!-- end row -->
    </div><!-- end col-md-12 -->



  </div><!-- end col-md-8 -->


</div><!-- end container -->

</main>
<footernav></footernav>