<div class="footer">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="footer-content">
        <div class="links">
          <a href="#" class="home"><i class="icon-home"></i>home</a>
          <a href="#">about round bob</a>
          <a href="#">contacts</a>
          <a href="https://www.roundbob.com/pages/terms_and_conditions" target="_blank">terms and conditions</a>
          <a href="https://www.roundbob.com/pages/how_it_works" target="_blank">How it works</a>
        </div>

      </div><!-- end footer-content -->
    </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end footer -->


<div class="side-fixed-menu">
  <div class="side-fixed-item"><a href="" class="facebook_like"><i  class="icon-facebook facebook"></i><span>like</span></a></div>
  <div class="side-fixed-item"><a href="" class="twitter_handle"><i class="icon-twitter twitter"></i><span>follow</span></a></div>
  <div class="side-fixed-item"><a href="" class="instagram_follow"><i class="icon-instagram instagram"></i><span>follow</span></a></div>
  <div class="side-fixed-item"><a href="" class="youtube_btn"><i class="icon-google google"></i></a><span>Follow</span></div>
</div><!-- end side-fixed-menu -->