/*packages*/
/*variables*/
/*mixins*/
/* line 6, ../sass/packages.scss */
.package-category-container, .package-item-container {
  overflow: auto;
  clear: both;
}

/* line 11, ../sass/packages.scss */
.package-category {
  background: #ffffff;
  margin-bottom: 10px;
}
/* line 15, ../sass/packages.scss */
.package-category .package-category-icon {
  overflow: hidden;
  text-align: center;
}
/* line 19, ../sass/packages.scss */
.package-category .package-category-icon img {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
}
/* line 25, ../sass/packages.scss */
.package-category .package-category-name {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
  border-top: 2px solid #d1d1d1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
/* line 36, ../sass/packages.scss */
.package-category:hover {
  cursor: pointer;
}
/* line 39, ../sass/packages.scss */
.package-category:hover .package-category-icon img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}
/* line 43, ../sass/packages.scss */
.package-category:hover .package-category-name {
  color: #ffffff;
  background: #fc0243;
  border-color: #fc0243;
}

/* line 51, ../sass/packages.scss */
.package-navigation-bar {
  overflow: hidden;
  background: #ffffff;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 10px;
}
/* line 57, ../sass/packages.scss */
.package-navigation-bar .package-navigation-bar-link {
  display: inline-block;
  border-right: 2px solid #00150c;
}
/* line 61, ../sass/packages.scss */
.package-navigation-bar .package-navigation-bar-link a {
  display: block;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  position: relative;
}
/* line 67, ../sass/packages.scss */
.package-navigation-bar .package-navigation-bar-link a.active, .package-navigation-bar .package-navigation-bar-link a:hover {
  color: #ffffff;
  background: #fc0243;
}
/* line 71, ../sass/packages.scss */
.package-navigation-bar .package-navigation-bar-link a.active:after, .package-navigation-bar .package-navigation-bar-link a:hover:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #d1d1d1;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/* line 91, ../sass/packages.scss */
.package-item {
  background: #ffffff;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #d1d1d1;
  padding: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
/* line 99, ../sass/packages.scss */
.package-item:hover {
  border-color: #fc0243;
}
/* line 102, ../sass/packages.scss */
.package-item:hover .package-item-image img {
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
}

/* line 109, ../sass/packages.scss */
.package-item-image {
  overflow: hidden;
  max-height: 200px;
  min-height: 200px;
}
/* line 114, ../sass/packages.scss */
.package-item-image img {
  width: 100%;
  min-height: 200px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

/* line 122, ../sass/packages.scss */
.package-item-detail {
  padding: 10px 0;
}
/* line 125, ../sass/packages.scss */
.package-item-detail div {
  padding: 2px 0;
}

/* line 130, ../sass/packages.scss */
.package-item-name {
  text-transform: capitlaize;
  font-size: 14px;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* line 136, ../sass/packages.scss */
.package-item-location {
  font-size: 11px;
  color: #666666;
}

/* line 141, ../sass/packages.scss */
.package-item-price {
  padding: 0;
}
/* line 144, ../sass/packages.scss */
.package-item-price div {
  padding: 2px 0;
}
/* line 148, ../sass/packages.scss */
.package-item-price .package-item-price-value {
  font-weight: 900;
  position: relative;
  font-size: 18px;
}
/* line 153, ../sass/packages.scss */
.package-item-price .package-item-price-value small {
  font-weight: 500;
  color: #fc0243;
  text-transform: uppercase;
  font-size: 10px;
}

/* line 164, ../sass/packages.scss */
.package-item-price-wallet-bar .package-item-price-wallet-bar-text {
  font-size: 11px;
  color: #666666;
  text-transform: capitalize;
}

/* line 171, ../sass/packages.scss */
.package-item-white-board {
  padding: 20px;
  background: #ffffff;
  overflow: auto;
  margin-bottom: 10px;
}

/* line 178, ../sass/packages.scss */
.package-item-selected-image {
  overflow: hidden;
  max-height: 300px;
}
/* line 182, ../sass/packages.scss */
.package-item-selected-image img {
  width: 100%;
  height: auto;
}

/* line 188, ../sass/packages.scss */
.package-name {
  font-size: 16px;
  font-weight: 700;
}

/* line 193, ../sass/packages.scss */
.package-location {
  font-size: 11px;
  color: #666666;
}
/* line 197, ../sass/packages.scss */
.package-location i[class^="icon-"]:before, .package-location i[class*=" icon-"]:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/* line 202, ../sass/packages.scss */
.package-item-selected-mini-info {
  padding: 0;
}
/* line 205, ../sass/packages.scss */
.package-item-selected-mini-info div {
  padding: 3px 0;
}
/* line 208, ../sass/packages.scss */
.package-item-selected-mini-info h4 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
}
/* line 214, ../sass/packages.scss */
.package-item-selected-mini-info .mini-info-sub-text {
  font-size: 12px;
  color: #666666;
}
/* line 218, ../sass/packages.scss */
.package-item-selected-mini-info .mini-info-sub-text .share-on-social-media {
  font-size: 18px;
}
/* line 221, ../sass/packages.scss */
.package-item-selected-mini-info .mini-info-sub-text .share-on-social-media:hover {
  color: #fc0243;
  cursor: pointer;
}
/* line 228, ../sass/packages.scss */
.package-item-selected-mini-info .package-name {
  font-size: 22px;
  font-weight: 900;
}
/* line 233, ../sass/packages.scss */
.package-item-selected-mini-info .package-location {
  font-size: 11px;
  color: #666666;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 10px;
}

/* line 241, ../sass/packages.scss */
.package-item-selected-info {
  font-size: 13px;
  padding: 0;
  margin-top: 10px;
  overflow: hidden;
  max-height: 0;
}
/* line 248, ../sass/packages.scss */
.package-item-selected-info h4 {
  font-weight: 700;
  font-size: 16px;
}
/* line 253, ../sass/packages.scss */
.package-item-selected-info ul {
  margin: 0;
}
/* line 256, ../sass/packages.scss */
.package-item-selected-info ul li {
  display: inline-block;
  border: 1px solid #101010;
  padding: 2px 4px;
  border-radius: 2px;
  margin-bottom: 2px;
}

/* line 266, ../sass/packages.scss */
.package-item-selected-info-open {
  padding: 15px 10px;
  max-height: 1000px;
}

/* line 271, ../sass/packages.scss */
.package-item-selected-inquiry {
  overflow: auto;
}

/* line 275, ../sass/packages.scss */
.package-item-form-row {
  overflow: auto;
  padding: 0;
}

/* line 280, ../sass/packages.scss */
.package-item-sidebar {
  font-size: 12px;
}

/* line 284, ../sass/packages.scss */
.package-item-payment-option {
  padding: 0 5px;
}

/* line 288, ../sass/packages.scss */
.child-pricing {
  display: none;
}

/* line 292, ../sass/packages.scss */
.package-item-total-price {
  display: inline-block;
  margin-left: 15px;
}
