

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
  <div class="row">
    <headernav></headernav>
  </div><!-- end row -->

    <div class="col-md-12">
    <div class="row">


    <div class="progress-metre row">
    <svg height="10" width="100%" style="background:#ccc;">
      <line x1="0" y1="0" x2="40%" y2="0" style="stroke:#e7e874;stroke-width:20" />
    </svg>

    <span class="centage-label">40%</span>
  </div><!-- end progress-metre -->
    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 Let Bob know when you wish to check in and check out.
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
    </div>
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">
  <div class="col-md-6 col-md-offset-3">

   <!-- <div class="card-paper">
    <div class="card-content-1" style="margin: 3px auto;">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
          <input  type="checkbox" id="switch-1" class="mdl-switch__input" checked>
          <span class="mdl-switch__label switch-label">Return flight (Off/On)</span>
          </label>
      </div>
    </div> -->




    <div class="card-paper">

    <div class="seperator"></div><!-- end seperator -->

    <div class="card-component">
    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <label class="field-label"><i class="icon-calendar-1"></i> Check In</label>
         <!-- <input id="travel_date_id" type="date" class="form-element" value="2017-09-17" name="date" placeholder="dd/mm/yyyy" readonly="readonly">-->
          <input id="check_in_id"  class="form-element" value="" name="date" placeholder="Pick a date" readonly="readonly">
        </div><!-- end card-content -->
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="card-content card-content-flight-return-date">
          <label class="field-label"><i class="icon-calendar-1"></i> Check Out</label>
         <!-- <input id="return_date_id" type="date" value="2017-09-17" class="form-element input-flight-return-date" placeholder="dd/mm/yyyy" readonly="readonly">-->
          <input id="check_out_id"  value="" class="form-element input-flight-return-date" placeholder="Pick a date" readonly="readonly">
        </div><!-- end card-content -->
      </div>
    </div>
    </div><!-- end card-component --> <br/>
    </div><!-- end card-paper -->



    <div class="card-component button-div">
	<!--
        <a href="#picklocation/selectdate/multiplebookers"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">I am not alone</button></a>
        <a href="#picklocation/selectdate/onebookeroption"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right"  style="margin-right: 4px;">I will travel alone. get me a quote</button></a>
	-->
        <div class="select_date_multiple_users"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">I am not alone</button></div>
       
	   <div class="select_date_single_user"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right"  style="margin-right: 4px;">I will travel alone. get me a quote</button></div>
   
   </div><!-- end card-component -->



  </div><!-- end col-md-8 -->


</div><!-- end container -->

</main>
<footernav></footernav>
