
<div class="dashboard-bar">
  <div class="container">
    <div class="col-md-3 col-xs-6">
      
      <div class="application-logo">
        <img src="img/bob-logo.png" class="img-responsive">
      </div><!-- logo -->

    </div><!-- end col-md-3 -->
    <div class="col-md-3 col-md-offset-3 hidden-xs">      
    </div><!-- end col-md-3 -->

    <div class="col-md-2 hidden-xs">
    </div><!-- end col-md-2 -->

    <div class="col-md-1 col-xs-6">
     <div class="row">
     </div><!-- end row -->
    </div><!-- end col-md-1 -->

  </div><!-- end container -->
</div><!-- end dashboard-bar -->

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="col-md-12">
    <div class="row">


    <div class="progress-metre row">
    <svg height="10" width="100%" style="background:#ccc;">
      <line x1="0" y1="0" x2="90%" y2="0" style="stroke:#e7e874;stroke-width:20" />  
    </svg>

    <span class="centage-label">90%</span>
  </div><!-- end progress-metre -->
    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 Where can we send the quotation to?
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
    </div>
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">

  <div class="col-md-6 col-md-offset-3">
    <div class="card-paper">

    <div class="card-content-1">
      <div class="switch-el">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
            <input type="radio" id="option-1" class="mdl-radio__button options" name="options" value="1" checked>
            <span class="mdl-radio__label switch-label">send by email </span>
          </label>

          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
            <input type="radio" id="option-2" class="mdl-radio__button options" name="options" value="2">
            <span class="mdl-radio__label switch-label">Send by WhatsApp</span>
          </label>
      </div>
      </div><!-- end switch-el -->
    </div><!-- card-paper -->

    <div class="card-paper"><br/>
    <div class="card-component">
    <div class="col-md-12">
      <div class="row">
        <div class="card-content">
          <input type="text" class="form-element" placeholder="Your name">
        </div><!-- end card-content -->
      </div>
    </div> 
    
    <div class="col-md-12">
      <div class="row">
        <div class="card-content">
          <input type="text" class="form-element" id="send_user_contact"  placeholder="Your email address">
        </div><!-- end card-content -->
      </div>
    </div>    
    </div><!-- end card-component -->  <br/>
    </div><!-- end card-paper -->

    <div class="card-component button-div">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">Send me the quote</button>
    </div><!-- end card-component -->

  



  </div><!-- end col-md-8 -->

  
</div><!-- end container -->

</main>
