

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-8 col-md-offset-2">

<headernav></headernav>

    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 Bob will be pleased to assist you with your request.
              </div>
            </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">

  <div class="col-md-8 col-md-offset-2">

    <div class="card-paper"><br/>
    <div class="card-component">

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <input id="clients_name" type="text" class="form-element" placeholder="What's you name?">
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <input id="departure_place" type="text" class="form-element" placeholder="Where are you from">
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->    

    </div><!-- end card-component --> 

    <div class="card-component">

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <input id="destination_place" type="text" class="form-element" placeholder="Whats your holiday destination?">
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->    

    </div><!-- end card-component --><br/>

    </div><!-- end card-paper -->



    <div class="card-paper">

    <div class="card-component">
    <div class="col-md-12">
          <div class="col-md-6"> 
            <div class="row">       
              <div class="card-content">
                <label class="field-label">Travel date</label>
                  <input id="travel_date" type="text" class="form-element datepicker" placeholder="Pick date">

              </div><!-- end card-content -->
            </div><!-- end row -->
          </div><!-- end col-md-6 -->

          <div class="col-md-6">
            <div class="row">
              <div class="card-content">
              <label class="field-label">Return date</label>
              <input id="return_date" type="text" class="form-element datepicker" placeholder="Pick date">
            </div><!-- end row -->
          </div><!-- end col-md-6 -->

          </div><!-- end card-content -->


    </div><!-- end col-md-12 -->



    <div class="col-md-12">
      <div class="row">
        <div class="card-content-1">
          

          <div class="col-md-4">
      <div class="row">
      
        <div class="card-content">
          <label class="field-label">Adults</label>
          <div class="input-group">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-number"  data-type="minus" data-field="adultno">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
              </span>

              <input id="no_of_adults" type="text" name="adultno" class="form-element input-number no-radius" value="1" min="1" max="100" />

              <span class="input-group-btn">
                  <button type="button" class="btn btn-number" data-type="plus" data-field="adultno">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
              </span>
          </div>

        </div><!-- end card-content -->
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="card-content">
          <label class="field-label">Children</label>
          <div class="input-group">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-number"  data-type="minus" data-field="childrenno">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
              </span>

              <input id="no_of_children" type="text" name="childrenno" class="form-element input-number no-radius" value="1" min="1" max="100" />

              <span class="input-group-btn">
                  <button type="button" class="btn btn-number" data-type="plus" data-field="childrenno">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
              </span>
          </div>

        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->


    <div class="col-md-4">
      <div class="row">
        <div class="card-content">
          <label class="field-label">Infants</label>
          
          <div class="input-group">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-number"  data-type="minus" data-field="infantno">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
              </span>

              <input id="no_of_infants" type="text" name="infantno" class="form-element input-number no-radius" value="0" min="0" max="100" />

              <span class="input-group-btn">
                  <button type="button" class="btn btn-number" data-type="plus" data-field="infantno">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
              </span>
          </div>

        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->


        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->    

    </div><!-- end card-component --> <br/>

    </div><!-- end card-paper -->

    <div class="card-paper"><br/>
    <div class="card-component">

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <input id="clients_phone_number" type="text" class="form-element" placeholder="Phone Number">
          <span class="heads-up">Use International format e.g +1 890 890 8900</span>
        </div><!-- end card-content -->

        <div class="card-content">
           <input id="clients_email_address"  type="text" class="form-element" placeholder="Email Address">
        </div><!-- end card-content -->


      </div><!-- end row -->
    </div><!-- end col-md-6 -->

    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <textarea id="clients_additional_info"  class="form-element" placeholder="Provide additional information here"></textarea>
        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-6 -->    

    </div><!-- end card-component --> <br/>


    </div><!-- end card-paper -->

    <div class="card-component button-div">
     <!--   <a href="hotel-pick-dates.html"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">Submit your request</button></a>    --> 
        <div class="submit_planner_requests"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">Submit your request</button></div>     
      </div>
    </div><!-- end card-component -->
  </div><!-- end col-md-8 -->

  
</div><!-- end container -->

</main>
<footernav></footernav>