

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <headernav></headernav>
    </div><!-- end row -->

    <div class="col-md-12">
    <div class="row">


    <div class="progress-metre row">
    <svg height="10" width="100%" style="background:#ccc;">
      <line x1="0" y1="0" x2="60%" y2="0" style="stroke:#e7e874;stroke-width:20" />  
    </svg>

    <span class="centage-label">60%</span>
  </div><!-- end progress-metre -->
    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 How many will you be and in how many rooms?
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
    </div>
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">

  <div class="col-md-6 col-md-offset-3">

    <div class="card-paper">
    <div class="card-component">

        <div class="col-md-4">
      <div class="row">
        <div class="card-content">
          <label class="field-label">rooms</label>
          <div class="input-group">
              <span class="input-group-btn">
                  
                <button type="button" class="btn btn-number"  data-type="minus" data-field="rooms">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>

              </span>

              <input id="rooms_id" type="text" name="rooms" class="input-room form-element input-number no-radius" value="1" min="1" max="10" />

              <span class="input-group-btn">
                  
                <button type="button" class="btn btn-number" data-type="plus" data-field="rooms">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

              </span>
          </div>

        </div><!-- end card-content -->
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="card-content">
          <label class="field-label">Adults</label>
          
          <div class="input-group">
              <span class="input-group-btn">

                  <button type="button" class="btn btn-number"  data-type="minus" data-field="room-1-adults">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>

              </span>

              <input id="room-1-adult" type="text" name="room-1-adults" class="form-element input-number no-radius" value="1" min="1" max="10" />

              <span class="input-group-btn">

                <button type="button" class="btn btn-number" data-type="plus" data-field="room-1-adults">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

              </span>
          </div>

        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-4 -->

    <div class="col-md-4">
      <div class="row">
        <div class="card-content">
          <label class="field-label">children</label>
          
          <div class="input-group">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-number"  data-type="minus" data-field="room-1-children">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
              </span>

              <input id="room-1-child" type="text" name="room-1-children" class="children-no form-element input-number no-radius" value="0" min="0" max="10" />

              <span class="input-group-btn">
                  <button type="button" class="btn btn-number" data-type="plus" data-field="room-1-children">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
              </span>
          </div>


        </div><!-- end card-content -->
      </div><!-- end row -->
    </div><!-- end col-md-4 -->
    </div><!-- end card-component --> 

    <div class="card-component">
      <div class="col-md-4"></div>
      
      <div class="col-md-8">
        <div class="children-ages" id="child-age-0"></div><!-- end child-age -->
      </div><!-- end col-md-8 -->

    </div><!-- end card-component -->

    </div><!-- end card-paper -->

    <div id="room-rows">
    </div><!-- end room-rows -->


    <div class="card-component button-div">
     
	   <div class="get_multiple_clients_quotation"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">Ok. Lets get you a quotation</button></div>
    </div><!-- end card-component --> 



  </div><!-- end col-md-8 -->

  
</div><!-- end container -->

</main>
<footernav><footernav>

