

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
    <headernav></headernav>
    <div class="col-md-12">

    <div class="progress-metre row">
    <svg height="10" width="100%" style="background:#ccc;">
      <line x1="0" y1="0" x2="80%" y2="0" style="stroke:#e7e874;stroke-width:20" />  
    </svg>

    <span class="centage-label">80%</span>
  </div><!-- end progress-metre -->
    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 I swear this is the last step.
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->

<div class="container">

  <div class="col-md-6 col-md-offset-3">

    <div class="col-md-12">
      <div class="row">
          <div class="col-md-4">
           <!-- <a href="email-option.html">-->
		   <div class="email_quotation">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon icon-option">
                <i class="icon-mail"></i>
              </div>
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">Have a quotation <br/> sent to me</div>
            </div><!-- end bob-item -->
            </div>
           <!-- </a>-->
		   </div>
          </div>

          <div class="col-md-4">
            <!--<a href="call-option.html">-->
			<div class="call_client">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon icon-option">
                <i class="icon-phone"></i>
              </div >
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">Have an Agent <br/> call me</div>
            </div><!-- end bob-item -->
            </div><!-- end card-paper -->
            <!--</a>-->
			</div>
          </div>

          <div class="col-md-4">
            <div class="available_flights">
            <div class="card-paper icon-paper">
            <div class="bob-item">
              <div class="bob-x-icon icon-option">
                <i class="icon-plane"></i>
              </div>
              <div class="seperator"></div><!-- end seperator -->
              <div class="bob-x-el">View Available <br/> Flights</div>
            </div><!-- end bob-item -->
            </div><!-- end card-paper -->
            </div>
          </div>
        
          

      </div><!-- end row -->
    </div><!-- end col-md-12 -->



  </div><!-- end col-md-8 -->

  
</div><!-- end container -->

</main>
<footernav></footernav>