

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">

    <div class="row"><headernav></headernav></div>
  
    <div class="progress-metre row">
    <svg height="10" width="100%" style="background:#ccc;">
      <line x1="0" y1="0" x2="40%" y2="0" style="stroke:#e7e874;stroke-width:20" />
    </svg>

    <span class="centage-label">40%</span>
  </div><!-- end progress-metre -->
    <div class="card-paper">
      <div class="row">

    <div class="card-component">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 Return flight or one way?
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
  </div><!-- end row -->
    </div><!-- end card-paper -->

  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">
  <div class="col-md-6 col-md-offset-3">

      <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
             <div class="row">
                 <div class="flight-item-option">
                   <input type="radio" id="switch-1" class="flight-type" checked="checked"  name="package-payment-option" value="return">
                    <label for="switch-1" class="radio-input">
                   <span>Return</span>
                   </label>
                 </div><!-- end flight-item-option -->
                </div><!-- end row -->
            </div><!-- end col-md-3 -->

            <div class="col-md-4">

                 <div class="flight-item-option">
                   <input type="radio" id="switch-2" class="flight-type"  name="package-payment-option" value="one">
                    <label for="switch-2" class="radio-input">
                   <span>One way</span>
                   </label>
                 </div><!-- end flight-item-option -->

            </div><!-- end col-md-4 -->
          </div><!-- end row -->
        </div><!-- end col-md-12 -->

    <div class="card-paper">

    <div class="card-component">
    <div class="col-md-6">
      <div class="row">
        <div class="card-content">
          <label class="field-label"><i class="icon-calendar-1"></i> Travel date</label>
        <!--  <input id="departure-date" value="2017-09-17" type="date" class="form-element" name="date" placeholder="YYYY-MM-DD" readonly="readonly">-->
          <input id="departure-date" value=""  class="form-element" name="date" placeholder="Pick a date" readonly="readonly">
        </div><!-- end card-content -->
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="card-content card-content-flight-return-date">
          <label class="field-label"><i class="icon-calendar-1"></i> Return date</label>
         <!-- <input id="return-date" value="2017-10-17" type="date" class="form-element input-flight-return-date" placeholder="YYYY-MM-DD" readonly="readonly">-->
          <input id="return-date" value=""  class="form-element" name="date" placeholder="Pick a date" readonly="readonly">
        </div><!-- end card-content -->
      </div>
    </div>
    </div><!-- end card-component --> <br/>
    </div><!-- end card-paper -->



    <div class="card-component button-div">
<!--       
	   <a href="#flights/flightpicklocations/flightpickdates/travelpeople"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">I am not alone</button></a>
        <a href="#flights/flightpicklocations/flightpickdates/bookeroptions"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right"  style="margin-right: 4px;">I will travel alone. get me a quote</button></a>
       -->
        
		<div class="alonepeopleGetDate"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">I will travel alone. get me a quote</button></div>

    <div class="multiplepeopleGetDate" ><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right"  style="margin-right: 4px;">I am not alone</button></div>

	<!--
	   <div class="multiplepeopleGetDate" ><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">I am not alone</button></div>
        
		<div class="alonepeopleGetDate"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right"  style="margin-right: 4px;">I will travel alone. get me a quote</button></div>
  -->
  
  </div><!-- end card-component -->



  </div><!-- end col-md-8 -->


</div><!-- end container -->

</main>
<footernav></footernav>