      <div class="app-account-menu">
        <div class="menu-icons-container">
          <!--
          <div class="menu-bar-icon">
            <button class="m-b-icon"><i class="icon-menu"></i></button>
          </div>

          <div class="menu-item-slide">
            <a href="#home/login"> <button class="btn">sign in</button></a>
            <a href="#signup"> <button class="btn">register</button></a>
          </div>-->
		  <!-- end menu-item-slide -->

          <div class="app-nav-button">
           <button id="go_backward_btn" onclick="goBack();"><i class="icon-left-big"></i></button>
           <button id="go_forward_btn" onclick="goForward();"><i class="icon-right-big"></i></button>
          </div><!-- end app-nav-button -->


        </div><!-- end menu-icons-container -->