      <div class="app-account-menu">
        <div id="menu-icon-id" class="menu-icons-container">

        <div class="col-md-8">

         <div class="item_nav_e">
         <div class="application-navigation-icon" style="padding:10px 0 0;">
         <a href="#">
        
          <div class="icon-item icon_item_small">
            <img src="images/home.png" width="40px;">
            <small>home</small>
          </div>
          
        </a>

        <a href="#flights">
          <div class="icon-item icon_item_small">
            <img src="images/sflights.png" width="40px;">
            <small>flights</small>
          </div>
        </a>


        <!--<a href="#hotels">-->
        <a href="#picklocation">
          <div class="icon-item icon_item_small">
            <img src="images/shotels.png" width="40px;">
            <small>hotels</small>
          </div>
        </a>

        <a href="#surprise">
          <div class="icon-item icon_item_small">
            <img src="images/spackages.png" width="40px;">
            <small>packages</small>
          </div>
        </a>
        </div><!-- end application-navigation-icons -->
        </div><!-- end item_nav_e -->
      </div><!-- end col-md-8 -->

      <div class="col-md-4">

        <div class="app-nav-button">
          <button id="go_backward_btn" onclick="goBack();"><i class="icon-left-big"></i></button>
          <button id="go_forward_btn" onclick="goForward();"><i class="icon-right-big"></i></button>
        </div><!-- end app-nav-button -->

      </div><!-- end col-md-4 -->


      </div><!-- end menu-icons-container -->