

<main class="helper-content">

<div class="color-banner-top">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">

	<div class="row">
     <headernav></headernav>
  </div><!-- end row -->

    <div class="col-md-12">
      <div class="row">

    <div id="progress_metre_id" class="progress-metre row">
    <svg height="10" width="100%" style="background:#ccc;">
      <line x1="0" y1="0" x2="90%" y2="0" style="stroke:#e7e874;stroke-width:20" />  
    </svg>

    <span class="centage-label">90%</span>
  </div><!-- end progress-metre -->
    <div class="card-paper">
    <div class="card-component row">
      <div class="bob-communicator">
        <div class="card-content">
          <div class="col-md-2">
            <div class="row">
              <div class="bob-character"></div>
            </div><!-- end row -->
          </div><!-- end col-md-3 -->
          <div class="col-md-10">
            <div class="row">
              <div class="bob-talking">
                 Here is a summary of your request.
              </div>
            </div>
          </div>
        </div><!-- end card-content -->
      </div>

    </div><!-- end card-component -->
    </div><!-- end card-paper -->
  </div><!-- end row -->
    </div><!-- end col-md-12 -->
  </div><!-- end col-md-6 -->
  </div><!-- end container -->
</div><!-- end color-banner-top -->


<div class="container">

  <div class="col-md-6 col-md-offset-3">
    <div class="card-paper">

      <div class="request-summary">

      <div class="card-component">
        <div class="col-md-12">
         <div class="item-label">Flight type</div>
         <div id="flight_type" class="detail">return</div>
        </div><!-- end col-md-12 -->

      </div>

      <div class="seperator"></div>

      <div class="card-component">  
        
        <div class="col-md-12">
          <div id="departure_date_id"  class="detail date"><span><i class="icon-calendar"></i> 12/10/2017</i></span></div>
        </div> 

        <div class="detail"> 
          <div id="departure_place_id" class="col-md-4">Kigali</div>
          <div class="col-md-3"><i class="icon-right"></i></div>
          <div id="destination_id" class="col-md-4">Kampala</div>
        </div>

      </div><!-- end card-component -->   


      <div class="card-component">  
        <div class="col-md-12">
          <div id="return_date_id" class="detail date"><span><i class="icon-calendar"></i> 12/10/2017</i></span></div>
        </div>   

        <div class="detail"> 
          <div id="destination_id2" class="col-md-4">Kampala</div>
          <div class="col-md-3"><i class="icon-right"></i></div>
          <div id="departure_place_id2" class="col-md-4">Kigali</div>
        </div>

      </div><!-- end card-component --> <br/>  


      <div class="seperator"></div>

      <div class="card-component">

        <div class="col-md-12">
          <div class="item-label">Passengers</div>
          <div id="no_of_people" class="detail">people: 2 adults , 1 child, 0 infants</div>
        </div><!-- end col-md-12 -->

      </div><!-- end card-component -->

    </div><!-- end request-summary --><br/>


    </div><!-- end card-paper -->

    <div class="card-component button-div">
      <div  class="send_confirmed_request_flights"><button id="send_confirmation_id" class="mdl-button mdl-js-button mdl-button--raised mdl-button--yellow pull-right">Confirm Your Request</button></div>     
    </div><!-- end card-component -->

 


  </div><!-- end col-md-6 -->
  
</div><!-- end container -->
</main>
<footernav></footernav